.list-row-selectable {
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 1px solid black;
}

.list-row {
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 1px solid black;
}

.list-row-selectable:hover {
  background-color: #ddd;
  color: black;
}
.list-row-selectable.selected {
  background-color: #ddd;
  color: black;
}
